<div ng-controller="MonsterController">
    <style type="text/css">
        tr  {
            color: #7A200D;
            background: #FDF1DC;
        }
        a:link {
            color: #A64D4D;
            text-decoration: underline;
        }
        a:visited{
            color: #800000;
            text-decoration: underline;
        }
        a:hover {
            color: #971919;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.css">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>
                    <a href="" ng-click="order('MonsterName')">Monster Name</a>
                    <span class="sortorder" ng-show="predicate === 'MonsterName'" ng-class="{reverse:reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="order('Challenge')">Challenge</a>
                    <span class="sortorder" ng-show="predicate === 'Challenge'" ng-class="{reverse:reverse}"></span>
                </th>
                <th>
                    Experience
                </th>
            </tr>
            </thead>
            <tbody>
                <tr class="paginationclass" ng-repeat="monster in monsterList | orderBy:predicate:false |filter:filterNumber |
                    pagination: curPage * pageSize | limitTo: pageSize">
                    <td><a ng-href="/#/monster/{{monster.MonsterName}}">{{monster.MonsterName}}</a></td>
                    <td>{{monster.Challenge}}</td>
                    <td>{{monster.Experience.replace(")","")}}</td>
                </tr>
            </tbody>
        </table>

        <div class="pagination pagination-centered" ng-show="monsterList.length">
            <ul class="pagination-controle pagination">
                <li>
                    <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                            ng-click="curPage=curPage-1"> &lt; PREV</button>
                </li>
                <li>
                    <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                </li>
                <li>
                    <button type="button" class="btn btn-primary"
                            ng-disabled="curPage >= monsterList.length/pageSize - 1"
                            ng-click="curPage = curPage+1">NEXT &gt;</button>
                </li>
            </ul>
        </div>

    </div>

</div>